aiodns==1.1.1
aiohttp==3.5.4
alabaster==0.7.12
alembic==1.0.10
argh==0.26.2
async-timeout==3.0.1
attrs==19.1.0
Babel==2.7.0
bumpversion==0.5.3
cchardet==2.1.4
ccxt==1.18.599
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
coverage==4.1
cryptofeed==0.22.2
docutils==0.14
flake8==2.6.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
Mako==1.0.11
MarkupSafe==1.1.1
mccabe==0.5.3
multidict==4.5.2
mysqlclient==1.4.2.post1
numpy==1.16.4
pandas==0.24.2
pathtools==0.1.2
pluggy==0.3.1
py==1.8.0
pycares==3.0.0
pycodestyle==2.0.0
pycparser==2.19
pyflakes==1.2.3
Pygments==2.4.2
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
requests==2.22.0
setuptools-scm==3.3.3
six==1.12.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.4.8
SQLAlchemy==1.3.4
tox==2.3.1
urllib3==1.25.3
watchdog==0.8.3
websockets==7.0
yarl==1.1.0
